
    <h4 class="panel">Điều hướng</h4>
    <ul class="nav flex-column bg-light">
        <li class="nav-item">
            <a class="nav-link" href="../html/main.html">
                <i class="fa fa-fw fa-home"></i>Trang
                chủ
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../html/student.html">
                <i class="fa fa-fw fa-user"></i>Trang
                cá nhân
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-fw fa-calendar"></i>Sự kiện</a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">
                <i class="fa fa-fw fa-caret-right"></i>Các khóa học
            </a>
            <div class="collapse" id="submenu1" aria-expanded="false">
                <ul class="flex-column pl-3 nav">
                    <li class="nav-item">
                        <a class="nav-link collapsed py-1" href="#submenu1sub1" data-toggle="collapse"
                           data-target="#submenu1sub1">
                            <i class="fa fa-fw fa-caret-right"></i>HKI 2018-2019
                        </a>
                        <div class="collapse" id="submenu1sub1" aria-expanded="false">
                            <ul class="flex-column nav pl-3">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="../html/survey.html">
                                        <i class="fa fa-fw fa-briefcase"></i>Toán cao cấp
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

