
<style>
    .dropdown:hover > .dropdown-menu {
        display: block;
    }

    .dropdown > .dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }

    #page-content {
        min-height: 72%;
    }
</style>

<header id="page-header">
    <div class="row bg-dark" style="padding-left: 30px">
        <div class="col-9 pt-3">
            <a href="https://uet.vnu.edu.vn">
                <img src="~/Areas/Admin/Contents/Images/UET.png" height="30" alt="" class="pl-2" />
            </a>
            <span style="color: white">Website môn học</span>
        </div>
        <div class="col-3 pt-3">
            <div class="dropdown pull-right">
                <a href="#" id="profile" class="btn dropdown-toggle text-light" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-user-circle"></i> @Session["Username"]
                </a>
                <div class="dropdown-menu m-0" aria-labelledby="profile">
                    <a class="dropdown-item" href="/teacher/info">Trang cá nhân</a>
                    <a class="dropdown-item" href="/Authentication/Authentication/Logout">Thoát</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark affix-top col-sm-12" style="padding-left: 50px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/teacher/list-classes">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/teacher/info">Trang cá nhân</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>

