
@{
    ViewBag.Title = "ShowSurveyResultByStudent";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="padding-left: 20px">
    <section class="content-header" style="border-bottom: 1px solid gray; padding-bottom: 10px">
        <h1>Kết quả đánh giá</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Classes</li>
        </ol>
    </section>  
    @{ int i = 0;}
    @{
        if (@ViewBag.CountStudentsHaveSurvey == 0)
        {
            <h2>Sinh viên chưa làm khảo sát gần đây</h2>
            <a href="/class/list-classes"><button class="btn btn-primary">Quay lại trang danh sách lớp học</button></a>
        }
        else
        {
            <br />
            <div class= "table-content">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>Tiêu chí</th>
                            <th>Điểm đánh giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int t = 0; t < ViewBag.CountQuestion; t++)
                        {
                            int k = t + 1;
                            <tr>
                                <td>@k</td>
                                <td>@ViewBag.SurveyQuestion[@t]</td>
                                <td>@ViewBag.Points[@t]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>

